body {
    margin: 0;
    padding: 15px;
    font-family: 'Titillium Web', sans-serif;
}
.container {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: #447be3;
}
.post {
    padding: 15px;
    border-radius: 10px;
    background: cornflowerblue;
    color: #efe8b6;
}
.post > ul {
    list-style-type: none;
    padding: 0;
}

.comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
.comment > div {
    padding: 15px;
    flex: 0 1 300px;

    border-radius: 10px;
    background: cornflowerblue;
    color: #efe8b6;
}